/* generics */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #646464;
}


/* utilities */

.green-border-bottom{
    border-bottom: 1px solid lightgreen;
    border-image: linear-gradient(to bottom, lightgreen, rgba(0,0,0,0));
}



/* contnent */

.full-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
    display: flex;
    height: calc(100vh - 80px);

}

.footer{
    display: flex;
    height: 80px;
    background-color: rgba(40,40,40,255);
}

.left{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0,0,0,255);
}

.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(20,25,34,255);
}

.logo{
    width: 70%;
    height: 45px;
}

.logo img{
    height: 35px;
    margin: 10px;
}

#search .icon > * {
    color: #646464;
    padding: 5px;
    display: flex;
}

.icon{
    width: 75%;
    flex-direction: column;
    display: flex;
    font-size: 13px;
    margin: 20px 5px;
}

#search .pad {
    padding: 0px 10px;
}

#play > * {
    display: flex;
    flex-direction: column;
    color: #646464;
}

#play > h6{
    margin: 0px 20px;
}

#play .crea-playlist{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}


#btn-big{
    font-size: 25px;
}

#txt-small{
    font-size: 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#play .nuova-playlist{
    font-size: 11px;
    margin: 0px 20px;
}

.nuova-playlist .nome {
    list-style-type: none;
    text-decoration: none;
    padding: 3px 0px;
}

.left-bottom{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    color: white;
    font-size: 10px;
}

.installa{
    display: flex;
    align-items: flex-end;
    color: #646464;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.john{
    display: flex;
    align-items: center;
    line-height: 10px;
    padding: 8px;
}

#doe{
    font-size: 20px;
    padding-right: 3px;
}

.header{
    display: flex;
    flex-direction: row;
    text-align: end;
    background-color: rgba(8,11,18,255);
}



#btn{
    background-color: rgba(8,11,18,255);
    font-size: 12px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 8px 30px;
    margin: 10px 5px;
}

.songs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-song > * {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.top-song .in-evidenza{
    list-style-type: none;
    text-decoration: none;
    font-size: 10px;
    color: #646464;
    padding: 2px;
}

.in-evidenza > * {
    padding: 5px;
    text-transform: uppercase;
}





/* debug */

.debug .main{
    width: 100vw;
}

.debug .footer{
    width: 100vw;
}

.debug .left{
    width: 20%;
}

.debug .right{
    width: 80%;
}

.debug .header{
    height: 10%;
    width: 100%;
}

.debug .upgrade{
    width: 100%;
    height: 10%;
}